{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Категории разговорников</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-900 font-sans text-gray-100">

    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="" class="text-white text-xl font-bold">Lexify</a>
            <button id="mobile-menu-button" class="text-white lg:hidden focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
            
            <div class="hidden lg:flex lg:items-center lg:space-x-6" id="navbar-menu">
                <a href="{% url 'home_page' %}" class="text-white hover:text-gray-300">Главная</a>
                <a href="{% url 'dictionary_language_list' %}" class="text-white hover:text-gray-300">Словарь</a>
                <a href="{% url 'phrasebook_language_list' %}" class="text-red-500 hover:text-red-700">Разговорник</a>
                <a href="" class="text-white hover:text-gray-300">Грамматика</a>
                <a href="{% url 'library_language_list' %}" class="text-white hover:text-gray-300">Книги</a>
            </div>
        </div>

        <div class="lg:hidden hidden bg-gray-800 mt-4 rounded-lg shadow-lg" id="mobile-menu">
            <div class="px-4 py-6 space-y-4">
                <a href="{% url 'home_page' %}" class="block text-white text-lg hover:text-gray-300">Главная</a>
                <a href="{% url 'dictionary_language_list' %}" class="block text-white text-lg hover:text-gray-300">Словарь</a>
                <a href="{% url 'phrasebook_language_list' %}" class="block text-red-500 text-lg hover:text-red-700">Разговорник</a>
                <a href="" class="block text-white text-lg hover:text-gray-300">Грамматика</a>
                <a href="{% url 'library_language_list' %}" class="block text-white text-lg hover:text-gray-300">Книги</a>
            </div>
        </div>
    </nav>

    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold text-center mb-8">Категории разговорника для языка: {{ language.name }}</h1>

        <div class="max-w-lg mx-auto mb-8">
            <input type="text" id="searchInput" placeholder="Поиск по фразам..."
                   class="w-full px-4 py-2 bg-gray-700 border border-gray-600 rounded-lg text-white focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>

        <div id="translationField" class="max-w-lg mx-auto mb-8 bg-gray-800 rounded-lg shadow-lg overflow-hidden relative">
            <div class="phrase-item">
                <div class="flex flex-row">
                    <div class="w-1/2 p-8 text-center">
                        <p class="phrase-text text-xl font-semibold text-gray-400">Фраза</p>
                    </div>

                    <div class="w-1/2 p-8 bg-gray-700 text-center">
                        <p class="translation-text text-xl font-semibold text-gray-400">Перевод</p>
                    </div>
                </div>

                <button class="audio-button absolute inset-0 flex items-center justify-center w-10 h-10 rounded-full shadow-md bg-gray-600 hover:bg-gray-500 transition duration-300 mx-auto my-auto">
                    <img src="{% static 'images/volume.png' %}" alt="Volume Icon" class="w-8 h-8">
                </button>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {% for category in categories %}
                <div class="category-item bg-gray-800 rounded-lg shadow-lg overflow-hidden transform transition-transform duration-300 hover:scale-105">
                    <div class="p-4">
                        <div class="mt-4 relative h-40 w-full overflow-hidden flex justify-center items-center">
                            <img src="{{ category.icon.url }}" alt="Icon" class="w-full h-full object-contain rounded-lg">
                        </div>

                        <div class="category-text p-4 text-center">
                            <p class="text-xl font-semibold">{{ category.name }}</p>
                        </div> 
                    </div>

                    <div class="p-4 bg-gray-700 border-t border-gray-600">
                        <form action="{% url 'phrasebook_phrase_list' language.id category.id %}" method="get" class="text-center">
                            <button type="submit" class="px-4 py-2 bg-gray-900 text-white font-semibold rounded-lg hover:bg-gray-950 transition duration-300">
                                Подробнее
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.getElementById('mobile-menu-button').addEventListener('click', function() {
            var mobileMenu = document.getElementById('mobile-menu');
            if (mobileMenu.classList.contains('hidden')) {
                mobileMenu.classList.remove('hidden');
            } else {
                mobileMenu.classList.add('hidden');
            }
        });
    </script>

    <script>
        document.getElementById('searchInput').addEventListener('input', async function () {
            const searchQuery = this.value.trim(); // Получаем значение поиска
            const translationField = document.getElementById('translationField');
            const phraseText = translationField.querySelector('.phrase-text');
            const translationText = translationField.querySelector('.translation-text');
            const audioButton = translationField.querySelector('.audio-button');

            if (searchQuery.length === 0) {
                phraseText.textContent = 'Фраза';
                phraseText.classList.add('text-gray-400');
                translationText.textContent = 'Перевод';
                translationText.classList.add('text-gray-400');
                audioButton.classList.add('hidden');
                return;
            }

            try {
                const response = await fetch(`/api/search-phrase/?q=${searchQuery}&language_id={{ language.id }}`);
                const data = await response.json();

                if (data.phrase) {
                    phraseText.textContent = data.phrase.text;
                    phraseText.classList.remove('text-gray-400');
                    translationText.textContent = data.translation?.text || 'Нет перевода';
                    translationText.classList.remove('text-gray-400');

                    if (data.translation?.audio) {
                        audioButton.classList.remove('hidden');
                        audioButton.onclick = () => playAudio(data.translation.audio);
                    } else {
                        audioButton.classList.add('hidden');
                    }
                } else {
                    phraseText.textContent = 'Фраза не найдена';
                    phraseText.classList.add('text-gray-400');
                    translationText.textContent = '';
                    audioButton.classList.add('hidden');
                }
            } catch (error) {
                console.error('Ошибка при поиске слова:', error);
                phraseText.textContent = 'Ошибка при поиске';
                phraseText.classList.add('text-gray-400');
                translationText.textContent = '';
                audioButton.classList.add('hidden');
            }
        });

        function playAudio(audioUrl) {
            const audio = new Audio(audioUrl);
            audio.play();
        }
    </script>
</body>
</html>